.settings-modal-content {
  background-color: #353535 !important;
  color: white;

  .modal-header {
    border-bottom: none;
    background-color: rgba(35, 35, 35, 1);

    span {
      color: white;
    }
  }

  .modal-body {
    display: flex;
    padding: 0;

    nav {
      height: calc(100vh - 450px);
      width: 200px;
      background-color: rgb(47, 47, 47);

      button {
        width: 100%;
        height: 50px;
        color: white;
        background-color: rgb(47, 47, 47);
        font-weight: bold;
        border: none;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #353535;
          cursor: pointer;
        }

        &:focus {
          background-color: #353535;
        }
      }
    }

    main {
      margin: 10px 2.5px 10px 10px;
      width: 100%;

      .checkbox-double {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .label-group {
        height: 40px;
        max-width: calc(50% - 7.5px);
        min-width: calc(50% - 7.5px);
        flex: 1;
        margin-right: 7.5px;
        margin-bottom: 7.5px;
        border: 1px solid rgba(35, 35, 35, 1);
        background-color: rgb(47, 47, 47);
        user-select: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          height: 18px;
          width: 18px;
          margin: 10px;
          pointer-events: none;
        }

        label {
          font-size: 16px;
          margin-bottom: 0;
          pointer-events: none;
        }
      }
    }
  }
}
