.settings-modal-content {
  background-color: #353535 !important;
  color: white;

  .modal-header {
    border-bottom: none;
    background-color: rgba(35, 35, 35, 1);

    span {
      color: white;
    }
  }

  .modal-body {
    display: flex;
    padding: 0;

    main {
      margin: 10px 2.5px 10px 10px;
      width: 100%;
    }
  }
}
