.app {
  height: 100%;
  position: relative;

  canvas {
    display: block;
    background: blue;
    position: absolute;
  }

  .interface-container {
    height: 100%;
    position: relative;

    .interface {
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .header {
    text-align: center;
    .logo {
      width: 300px;
    }

    p {
      color: white;
      font-weight: bold;
      font-size: 20px;

      span {
        color: #DE7000;
      }
    }
  }

  .panels {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-panel {
    margin-right: 15px;
  }

  .right-panel {
    margin-left: 15px;
  }
}