.app {
  height: 100%;
  background-color: #5d5d5d;

  .interface-container {
    height: 100%;
    position: relative;

    .interface {
      margin: 0;
      position: absolute;
      top: 13%;

    }
  }

  .header {
    text-align: center;
    .logo {
      width: 24%;
    }

    p {
      color: white;
      font-weight: bold;
      font-size: 20px;

      span {
        color: #DE7000;
      }
    }
  }

  .panels {
    display: flex;
    justify-content: center;
  }

  .left-panel {
    margin-right: 15px;
  }

  .right-panel {
    margin-left: 15px;
  }
}